language: cpp
compiler: gcc
dist: xenial

branches:
  only:
    - master

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-8
      - libglew-dev
      - xorg-dev
      - ninja-build

services:
  - xvfb

before_install:
  - mkdir $HOME/usr
  - export PATH="$HOME/usr/bin:$PATH"
  - travis_retry wget --no-check-certificate https://github.com/Kitware/CMake/releases/download/v3.14.3/cmake-3.14.3-Linux-x86_64.sh
  - chmod +x cmake-3.14.3-Linux-x86_64.sh
  - ./cmake-3.14.3-Linux-x86_64.sh --prefix=$HOME/usr --exclude-subdir --skip-license

before_script:
  - CXX=/usr/bin/g++-8 CC=/usr/bin/gcc-8

script:
  - cd $TRAVIS_BUILD_DIR
  - mkdir build_debug && cd build_debug
  - cmake -GNinja -DDEFINE_DEBUG=ON -DLINUX_BUILD=ON -DTRAVIS_BUILD=ON ../
  - ninja
  - cd bin
  - ./../../scripts/travis/run_examples.sh
  - cd ../../
  - mkdir build_release && cd build_release
  - cmake -GNinja -DDEFINE_RELEASE=ON -DLINUX_BUILD=ON -DTRAVIS_BUILD=ON ../
  - ninja
  - cd bin
  - ./../../scripts/travis/run_examples.sh